<% provide(:title, @title) %>
<% provide(:nina, @nina) %>
<%#here we are providing a value to pe passed on between the title tags%>

<h1>This is Home page</h1>
<p>it's been tough</p>
<h3><%= yield(:nina) %></h3>
