    <footer class="px-40">
      <div class="flex justify-center items-center border-grey border-t h-full gap-6">
      <%= link_to "about", about_path %>
      <%= link_to "Contact", contact_path %> 
      </div>
    </footer>
