<header class="bg-yellow-200">
  <nav class ="container mx-auto h-12 flex justify-between items-center">
    <article>
      <%#this is equivalent to link_to("sample shit","#",{id:"logo"})%>
      <%= link_to "Sample shit", "#", id: "logo" %> 
    </article> 
    <article class="space-x-8">
      <%#this is equivalent to link_to("hello","#")%>
      <%= link_to "Home","#" %> 
      <%= link_to "Hello","/hello" %> 
      <%= link_to "Help", "#" %> 
    </article>
  </nav>
</header>
