<!DOCTYPE html>
<html>
    <%= render "layouts/rails_default_head" %>
  <body>
    <%= render "layouts/header" %>
    <main class="container mx-auto mt-4">
      <%= yield %>
      <%#this puts image tag link_to will enclose the image in a tag %>
      <%= link_to( image_tag("jojo.png", alt:"jojo", class:"absolute right-0 bottom-0 w-[150px]"),"#") %>
    </main>
  </body>
</html>
